@keyframes opacityAnim {
    0% {
      opacity: 0;
      transform: skew(-45deg, 10deg)
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      transform: skew(0, 0)
    }
  }

  @keyframes animateRight {
      0% {
        transform: rotate(-60deg) translate(80rem, 90rem);

      }

      100% {
        transform: rotate(0deg) translate(0, 0);
      }
  }

  @keyframes menuLeft {
    100% {
      top: 0.5rem;
      transform: rotate(-45deg);
    }
  }

  @keyframes menuRight {
    100% {
      top: 0.5rem;
      transform: rotate(45deg);
    }
  }

  @keyframes toSlideNext {
    0% {
      transform: translate(90rem);
      opacity: 0.3;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

  @keyframes toSlidePrev {
    0% {
      transform: translate(-90rem);
      opacity: 0.3;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

  @keyframes toSlideNextThree {
    100% {
      transform: translate(-76rem);
    }
  }

  @keyframes toSlidePrevThree {
    100% {
      transform: translate(76rem);
    }
  }