@keyframes opacityAnim {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }

  @keyframes animateRight {
      0% {
        transform: rotate(-60deg) translate(80rem, 90rem);

      }

      100% {
        transform: rotate(0deg) translate(0, 0);
      }
  }

