@media (min-width: 720px) {
    .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
    width: 100%;
    position: sticky;
    
    
}

.fixed {
    // position: sticky;
    top: 0;
    opacity: 0.85;
    transition: 0.4s 0.4s;
    z-index: 9;
    

    .header-wrapper_logo {
        h1, p {
        font-size: 1.2rem;
        // margin: 0;
       }
     }

     .header-wrapper_nav {
     .header-wrapper_nav_list {
        
        li {
            // margin: 0;
        a {
            font-size: 1.2rem;
            // margin: 0;
        }
    }
    }}
}

header.header-wrapper.fixed {
    height: 2.5rem;
    padding: 0;
    min-height: 0;
}


.header-wrapper_logo {
    margin-left: 2rem;

    h1 {
        font-style: italic;
        cursor: pointer;
        font-size: 3.5rem;

        &:hover {
            color: lighten($dark-color, 15%);
        }
    }
    
}

.header-wrapper_nav {
    margin-right: 2rem;

    .header-wrapper_nav_list {
        display: flex;
        list-style: none;

        li {
            margin: 1rem;

            a {
                cursor: pointer;
                transition: 0.4;
                font-size: 2rem;

                &:hover {
                    color: lighten($dark-color, 15%);
                }
            }
        }
    }
}
}

.header-wrapper {
    // display: block;
    text-align: center;
    background-color: darken($light-color, 20%);
    color: $dark-color;
    position: sticky;
}