.projects {
    height: 30rem;
}

.projects__title {
    text-align: center;
    color: darken($light-color, 35%)
}

.projects__slider {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
}

.projects__slider__element {
    width: calc(100% - 8rem);
    height: calc(100% - 8rem);
    margin: 3rem;
    margin-left: 4rem;
    background-color: $light-color;
    flex-shrink: 0;
    color: $primary-color;
    transition: 0.6s;
    position: absolute;

    @media (min-width: 700px) {
        width: calc((33% - 8rem));
        margin-left: 5.5rem;
        
    }
}

.projects__slider__element--hidden-prev {
    left: -38rem;
    transition: unset;
}

.projects__slider__element--first-active {
    left: 0;
}

.projects__slider__element--second-active {
    left: 38rem;
}

.projects__slider__element--third-active {
    left: 76rem;
}

.projects__slider__element--hidden-next {
    left: 114rem;
    transition: unset;
}

.projects__slider__btn {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    @media (min-width: 700px) {
        outline: none;
    }
}

.projects__slider__btn--prev {
    border-right: 1rem solid $light-color;
    left: 1rem;
}

.projects__slider__btn--next {
    border-left: 1rem solid $light-color;
    right: 1rem;
}

.projects__slider__element__img {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.6s;
}

.projects__slider__element:hover>.projects__slider__element__img {
    filter: brightness(20%);
    transform: scale(1.1);
    cursor: pointer;
}

.projects__slider__element__link {
    position: absolute;
    left: 35%;
    top: 25%;
    text-decoration: none;
    background-color: transparent;
    opacity: 0;
    transition: 0.6s;
    filter: brightness(100%);
}

.projects__slider__element__link--second {
    left: 55%;
}

.projects__slider__element__link:hover {
    color: lighten($primary-color, 40%);
}

.projects__slider__element__description {
    opacity: 0;
    position: absolute;
    left: 5%;
    top: 35%;
    background-color: transparent;
    text-align: center;
    transition: 0.6s;
}


.projects__slider__element:hover>.projects__slider__element__link, 
.projects__slider__element:hover>.projects__slider__element__description {
    opacity: 1;
}

