@import "./variables";
@import "./animations";
@import "./header";
@import "./main";
@import "./footer";

* {
    font-family: 'Piedra', cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media (min-width: 720px) {
    body {
    position: relative;
    width: auto;
    height: auto;
    display: block;
    background-image: url("../photos/body_bcg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

}

body {
    margin: 0 auto;
    background-color: $lightest-color;
}